  <!-- TODO : START COMPONENT HERE -->

  <div>
      <ul> <button class="btn btn-outline-primary" >Toutes les stations</button></ul>

      <div class="accordion" id="accordionExample">
        <div v-for="(stations, province, index) in ProvinceStations" :key="province" class="accordion-item">
          <h2 class="accordion-header" id="heading{{ index }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + index" aria-expanded="true" :aria-controls="'collapse' + index">
              {{ province }}
            </button>
          </h2>
          <div :id="'collapse' + index" class="accordion-collapse collapse" aria-labelledby="heading{{ index }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <button @click="LoadDataStation(station['Station ID'])" v-for="(station, stationIndex) in stations" :key="stationIndex" class="btn btn-primary">{{ station.Name }}</button>
            </div>
          </div>
        </div>
      </div>
      
  
  </div>

  
