<div>
  <span>
    Plage de dates: <br>
    <label>De: </label> 
    <select id="anneeDebut" v-on:change="plageDatesOnChange();">
      <option v-for="(year) in years">{{year}}</option>
    </select>
    <select id="moisDebut" v-on:change="plageDatesOnChange();">
      <option v-for="(name) in monthNames">{{name}}</option>
    </select>
    <br>
    <label>À: </label> 
    <select id="anneeFin" v-on:change="plageDatesOnChange();">
      <option v-for="(year) in years">{{year}}</option>
    </select>
    <select id="moisFin" v-on:change="plageDatesOnChange();">
      <option v-for="(name) in monthNames">{{name}}</option>
    </select>
    <br>
    <button id="toutesDonnees" v-on:click="toutesDonneesOnClick();">Tout les données</button>
    <br>
    <label>Station ID: </label>
    <select id="stationSelecteur" v-on:change="stationSelectorChange();">
      <option v-for="(id) in stationIds">{{id}}</option>
    </select>

    <div id="T4-1_vueDonnes" v-html="T4_1_vueDonnees_HTML"> </div>
  </span>
</div>