#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }


  .table-responsive {
    height:40rem;overflow:scroll;border:1px #dee2e6 solid;border-top:none;
  }


  .accordion-body > button {
    width:100%;
    margin-bottom:0.5rem;
  }