<div>
    Année: <select id="PHF-year" class="form-select" v-on:change="search()">
        <option v-for="(year) in years">{{year}}</option>
    </select>
    <br>
    Mois: <select id="PHF-month" class="form-select" v-on:change="search()">
        <option v-for="(name) in monthNames">{{name}}</option>
    </select>
    <br>
    Jour: <select id="PHF-day" class="form-select" v-on:change="search()">
        <option v-for="(day) in days">{{day}}</option>
    </select>
    <br><br>
    <div id="PHF-result"></div>
</div>
